@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    /*background-image: url("../images/com.epic.action.login-background.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.main-header {
    text-align: center;
    transition: 0.5s;
    margin: 20px;
}

.main-header:hover {
    -webkit-box-shadow: 2px 11px 54px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 11px 54px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 2px 11px 54px 0 rgba(0, 0, 0, 0.75);

}

.main-header h1 {
    font-size: 3.5rem;
    font-family: 'Pacifico', cursive;
    color: #5F5FB0;
    margin: 20px;
}

.main-header hr {
    width: 50%;
    margin: auto;
    padding: 5px;
    background: darkgray;
    border: none;
}

.main-header h3 {
    margin: 20px;
    color: #5F5FB0;
    font-size: 2rem;
}

.main-header input {
    width: 80%;
    padding: 1rem;
    margin: 20px 0;
    border: none;
    border-bottom: 2px solid #5F5FB0;
    font-size: 1.3rem;
    background: transparent;
    outline: none;
}

.main-header button:hover {
    transform: scale(1.2);
}

.main-header button {
    position: relative;
    background: #B0A2EF;
    border: none;
    font-size: 1.3rem;
    color: #fff;
    border-radius: 50px;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
    margin: 20px;
    outline: none;
}

.container {
    padding: 10px;
}
